/*
 * Fonts
*/

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('/fonts/Roboto-Black.woff2') format('woff2'),
    url('/fonts/Roboto-Black.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('/font/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}